.about{
    width: 100%;
    background-color: #fff;
    padding: 100px 0;
}
.about-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about-text{
    width: 45%;
    text-align: left;
}
.about-text h3{
    font-size: 12px;
    color: #13c3c9;
    font-weight: 800;
    letter-spacing: 0.7px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.about-text h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
    line-height: 1.5;
}
.about-text h2{
    color: #555;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.about-text p{
    font-size: 14px;
    color: #555;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}
.about-text a{
    padding: 15px 30px;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.7px;
    font-weight: 700;
    border: 2px solid #13c3c9;
    border-radius: 30px;
    color: #13c3c9;
    text-decoration: none;
}
.about-play{
    width: 45%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-play img{
    width: 100%;
}
.about-play a{
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #13c3c9;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    color: #555;
    font-size: 25px;
}